@model StudentManagementProject.Areas.Students.Models.Profile.StudentViewModel
@{
    ViewData["Title"] = "View Profile";
}

<div class="row">
    <div class="col-md-12 border-light">
        <h1 class="text-center">Your Profile</h1>
        <hr />
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
                <p class="card-text">Student of @Model.Class section @Model.Section</p>
            </div>
        </div>
    </div>
</div>

